<h3 class="text-center">My Introduction</h3>
<p class="text-center">
  Do you ever experience a piece of media, and just want to right down your feelings on it.
  Well this is my place for that. Join me on my quest experiencing media from the wooden spoon tier media to
  the rare gems. Or dont join me, your choice really.
</p>
<div class="bg-dark w-100 m-0 p-2">
<img src="./Images/quest_unlocked_nier.png" class="rounded mx-auto d-block" style="width:30vmax;height:auto;max-width:300px">
</div>
<br>
<h3 class="text-center">My Rating System</h3>
<p class="text-center">
  Traditional number rating systems have massive issues. One is the fact an average score is considered bad, 5/10 should not mean it’s bad.
  Secondly traditional ratings make it hard to separate their opinion on the game and if and how much they recommend a game, as these things are not mutually exclusive.
Because of this, each review will conclude with my overall opinions and my recommendation. No rating will be given, but for the very best and very worst, there are some yummy rewards.
</p>
<div class="bg-dark">
<div class="container">
<div class="row">
   <div class="col" >
     <img src="./Images/Awards/wood.png" class="rounded mx-auto d-block award">
   </div>
   <div class="col">
     <img src="./Images/Awards/participation.png" class="rounded mx-auto d-block award">
   </div>
   <div class="col">
     <img src="./Images/Awards/silver.png" class="rounded mx-auto d-block award">
   </div>
   <div class="col">
     <img src="./Images/Awards/gold.png" class="rounded mx-auto d-block award">
   </div>
   <div class="col">
     <img src="./Images/Awards/platnium.png" class="rounded mx-auto d-block award">
   </div>
</div>
</div>
</div>
